.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
content/Assets/Private
content/Private
content/Daily
content/Template
content/Excalidraw
content/*.base