@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!
a.external {
    text-decoration: underline;
}

article p {
    line-height: 2;
    margin-block: 1rem;
}

article li {
    line-height: 2;
}

.page-title {
    @media all and ($mobile) {
        font-size: 1.25rem;
    }
}