@use "./variables.scss" as *;

// put your custom CSS here!
tbody, li, p {
    line-height: 1.85rem;
}

.explorer-content ul li > a,
.explorer-content .folder-container div > a,
.explorer-content .folder-container div > button span,
.backlinks > ul > li > a,
.toc ul li > a {
    display: block;
    line-height: 1.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    overflow-wrap: anywhere;
}

.page > #quartz-body .sidebar {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}